streamlit>=1.54.0
supabase
httpx
python-dotenv
numpy
scipy
pandas
scikit-learn
segno
pillow
bcrypt
setuptools<70.0.0
face-recognition-models
dlib-bin; sys_platform == 'win32'
dlib; sys_platform != 'win32'
librosa
soundfile
resemblyzer